  <!-- WRAPPER -->
    <!-- HERO -->
    <section>

      <!-- HERO TEXT -->
      <div class="hero-caption">
        <div class="hero-text">
          <h6 class="m-b-30"></h6>
          <h1 class="m-b-30">ENVIRONMENTS</h1>
          <h6 class="m-b-60"></h6>
            
          <!-- FORM -->
          <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
          <%= form_tag '/environments', method: :post do %> 
            <form id="contact-form" role="form" novalidate>
              <div class="form-group">
                <label class="sr-only" for="name">Name</label>
                <input type="text" id="name" class="form-control" name="name" placeholder="New Environment Name">
                <p class="help-block text-danger"></p>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-block btn-round btn-dark">Create</button>
              </div>
            </form>
          <% end %>
          <div class="col-sm-4"></div>
          <!-- FORM END -->
          </div>
          </div>

        </div>
      </div>
      <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->

    <!-- PORTFOLIO -->
    <section id="portfolio" class="module-sm">
      <div class="container-fluid">

        <div class="works-grid-wrapper">

          <div id="works-grid" class="works-grid work-grid-3">

            <% @environments.each do |environment| %>
              <!-- PORTFOLIO ITEM/COLUMN -->
              <article class="work-item">
                <div class="work-wrapper">
                  <div class="work-thumbnail">
                    <p>Image or no image</p>
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title font-alt"><%= link_to environment.name, "/environments/#{environment.id}" %></h3>
                  </div>
                </div>
              </article>
              <!-- /PORTFOLIO ITEM -->
            <% end %>

              <!-- PORTFOLIO ITEM/COLUMN -->
              <article class="work-item">
                <div class="work-wrapper">
                  <div class="work-thumbnail">
                    <p>Image or no image?</p>
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title font-alt"><%= link_to "Archive", "/environments/archived" %></h3>
                  </div>
                </div>
              </article>
              <!-- /PORTFOLIO ITEM -->

          </div>

        </div><!-- works-grid-wrapper -->
      </div>
    </section>