/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require theme/bootstrap-theme
 *= require theme/bootstrap
 *= require theme/et-line-font
 *= require theme/font-awesome
 *= require theme/magnific-popup
 *= require theme/owl.carousel
 *= require theme/superslides
 *= require theme/template
 *= require theme/vertical
 *= require_tree .
 *= require_self
 */
 div.devise {
  padding-left: 25em;
 }
 div.new-form {
  padding-left: 25em;
 }
 div.show {
  padding-left: 25em;
 }
 textarea#text {
  width: 920px;
  height: 1000px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
 }