<h1>NotePage</h1>
<h1><%= @note_pages.title %></h1>
<div>
  <%= link_to 'Edit', "/note_pages/#{@note_pages.id}/edit" %>
</div>
<div>
  <%= link_to 'Delete Page', "/environments/#{@note_pages.id}", method: :delete %>
</div>
<div>
  <%= link_to 'Back to Environment', "/environments/#{@environment}" %>
</div>